.about {
  padding-top: 31px;
  margin-bottom: 58px;
}

.about__title {
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;
  margin: 0;
}

.about__item {
  font-weight: bold;
  font-size: @offer-size;
  line-height: @offer-line;
  margin-top: 83px;
}
