
.baskets__title {
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;

  margin-bottom: 41px;
}

.baskets__description,
.baskets-table {
  font-weight: normal;
  font-size: @txt-size;
  line-height: @txt-line;
  margin-bottom: 28px;
}

.baskets__image {
  margin-bottom: 26px;
}

.baskets__price {
  font-weight: bold;
  font-size: @offer-size;
  line-height: @offer-line;
  text-align: center;
  margin-bottom: 25px;
}

.baskets__button-order {
  margin-bottom: 36px;
}



