.baskets__title {
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;
  margin: 0 0 4px 0;
  margin-bottom: 4px;
}

.baskets__stock {
  font-size: @offer-size;
  line-height: @offer-line;
  font-weight: bold;
  color: @btn-left-color;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.baskets__description,
.baskets-table {
  font-weight: normal;
  font-size: @txt-size;
  line-height: 1.6;
  margin-bottom: 28px;
}

.baskets__image {
  display: block;
  margin-bottom: 26px;
}

.baskets__price {
  margin: 0;
  font-weight: bold;
  font-size: @offer-size;
  line-height: @offer-line;
  text-align: center;
  margin-bottom: 25px;
}

.baskets__button-order {
  margin-bottom: 36px;
}
