.baskets-modal__wrapper {
  width: 320px;
  min-height: 336px;
  padding-top: 29px;
}

.baskets-form__title {
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 14px;
}

.baskets-form__size-text {
  font-size: @txt-size;
  line-height: @txt-line;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.baskets-form__inner {
  display: flex;
}

.baskets-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px solid fade(@txt-color, 10%);
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.baskets-form__label--current {
  border: 2px solid @btn-left-color;
}

.baskets-form__button {
  margin-top: 31px;
  margin-bottom: 46px;
  width: 100%;
  background-color: @btn-left-color;
  color: @bg-color;
  border: none;
}
