.button {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  width: 260px;
  min-height: 52px;
  background-color: transparent;
  border: 2px solid @txt-color;
  color: @txt-color;
  font-size: @btn-size;
  line-height: @btn-line;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 67px;
  cursor: pointer;
  margin: 0 auto;
}
