.contacts {
  padding-top: 38px;
}


.contacts__title {
  font-size: @subtitle-size;
  line-height: @subtitle-size;
  color: @caption-color;
  margin-bottom: 28px;
}

.contacts__data {
  font-size: @contact-size;
  line-height: @contact-line;
  margin: 0;
  margin-bottom: 62px;
  font-style: normal;
}

.contacts__caption {
  margin: 0;
  margin-bottom: 20px; /*написала, чтобы не сливались*/
}

.contacts__caption-link {
  display: block;
  margin: 0;
  color: @txt-color;
  text-decoration: none;
  margin-bottom: 20px; /*написала, чтобы не сливались*/
}
