.container {
  width: 260px;
  margin: 0 auto;
  outline: 2px solid  darkviolet;
  offset: -2px;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}
