.contacts__title {
  font-size: @subtitle-size;
  line-height: @subtitle-size;
  color: @caption-color;
  margin-bottom: 28px;
}

.contacts__data {
  font-size: @txt-size;
  line-height: @txt-size;
  margin-bottom: 62px;
}

.map__button-send {
  margin-bottom: 39px;
}
