.contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 16% 33% 50%;
    grid-template-areas:
      "icon title map"
      "icon contacts map"
      "icon button map";
  }
}

.contacts__title {
  grid-area: title;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 28px;
  font-size: @subtitle-size;
  line-height: @subtitle-size;
  color: @caption-color;

  @media (min-width: @tablet-width) {
    min-width: 600px;
    margin-top: 70px;
    margin-bottom: 49px;
    flex-grow: 1;
    font-size: @tablet-title-size;
    line-height: 1.16;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 79px;
  }
}

.contacts__icon-flag {
  grid-area: icon;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 3px;
    top: 50px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    justify-self: center; // почему не сработало?
    margin-top: 50px;
  }
}

.contacts__address {
  grid-area: contacts;
  position: relative;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
  }
}

.contacts__data {
  grid-area: data;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__data-address {
  margin: 0;
  font-size: @contact-size;
  line-height: @contact-line;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__data-link {
  margin-right: 15px;
  border-bottom: 1px solid @form-color;
  font-size: @contact-size;
  line-height: @contact-line;
  color: @txt-color;

  &:hover {
    color: @link-color;
  }

  &:active {
    color: @link-color;
    border-color: fade(@link-color, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__caption {
  grid-area: caption;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 335px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 335px;
    display: flex;
  }
}

.contacts__caption-address {
  margin: 0;
  font-weight: 400;
  font-size: @contact-size;
  line-height: @contact-line;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__caption-point {
  width: 168px; // указывать или нет?
  margin: 0;
  margin-right: 15px;
  font-weight: 400;
  font-size: @contact-size;
  line-height: @contact-line;

  @media (min-width: @tablet-width) {
    width: 257px;
    margin-left: 26px;
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__caption__wrapper {
  white-space: nowrap;
}

.contacts__map {
  position: relative;
  grid-area: map;
  max-height: 455px;
  margin: 0 -30px;
  overflow: hidden;
  background-color: antiquewhite; //потом уберу

  @media (min-width: @tablet-width) {
    margin: 0 -50px;
  }
}

.contacts__map::after {
  position: absolute;
  content: "";
  display: block;
  width: 67px;
  height: 100px;
  background-image: url("../img/map-pin.svg");
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__button-send {
  .button();
  grid-area: button;
  width: 260px;
  padding: 16px 38px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    width: 230px;
    height: 52px;
    margin-top: 58px;
    margin-bottom: 57px;
    padding: 16px 27px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    height: 55px;
    justify-self: flex-start; //почему не срабортало?
    padding: 16px 27px;
    margin: 0;
    margin-top: 85px;
  }
}
