.copyright__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: @caption-color;
  margin-right: 27px;
}

