

.goods__title {
  font-size: @menu-size;
  line-height: @menu-line;
  margin-bottom: 6px;
}

.goods__image {
width: 100%;
height: auto;
}

.goods__description {
  font-size: @descript-size;
  line-height: @descript-line;
margin-bottom: 41px;
}

.goods__price {
  font-size: @txt-size;
  line-height: 1.6;
  font-weight: bold;
}
