.main-nav__list {
  font-weight: bold;
  font-size: @menu-size;
  line-height: @menu-line;
  .list-reset();
}

.user-list__item-link,
.site-list__item-link {
  display: block;
  color: @caption-color;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 27px;
  outline: 2px solid plum;
  text-align: center;
}
