.main-nav__list {
  font-weight: bold;
  font-size: @menu-size;
  line-height: @menu-line;
  .list-reset();
}

.user-list__item-link,
.site-list__item-link {
  display: block;
  color: @caption-color;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 27px;
  text-align: center;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}

.main-nav__toogle {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: 670px;
  }

  .main-nav__toogle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    position: relative;
    outline: 2px solid red;
    offset: -2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
  }

  .main-nav__toogle {
    display: none;
  }
}
