.order-form-contacts {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.order-form-contacs:last-child {
  margin-bottom: 0; /*не обнулился отступ*/
}

.order-form-contacts__legend {
}

.order-form-contacts__mark {
  .order-text-title();
}

.order-form-contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.order-form-contacts__wrapper:not(:last-child) {
  margin-bottom: 22px;
}

.order-form-contacts__data {
  .order-text();
}

.order-form-contacts__control {
  padding: 17px 0;
  border-bottom: 2px solid @caption-color;
  box-shadow: inset 0px -2px 0px #000000;
  .input-reset();
}

.order-form-contacs__control::placeholder {
  .input-placeholder-reset();
}

.contacts-control {
  margin-bottom: 22px;
}

.order-form-contacs__title--tel,
.order-form-contacs__title--email {
  margin-bottom: 5px;
}

.order-form-contacs__control-text {
  border: 2px solid @txt-color;
  width: 260px;
  min-height: 142px;
  font-family: inherit;
  font-size: @offer-size;
  line-height: 1.06;
  color: fade(@caption-color, 30%);
  padding: 17px;
}

.order-form-contacs__warning {
  display: block;
  font-size: @contact-size;
  line-height: 1.14;
  color: @caption-color;
  margin-bottom: 30px;
}

.order-form__button-send {
  padding: 18px 37px;
  margin-bottom: 55px;
}
