.order-form__green-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-form__header {
  .order-text-title();
}

.order-form__green-line::after {
  .order-form-line();
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.order-form-color__mark {
  .order-text();
}

.contacts-input::placeholder {
  .input-placeholder-reset();
}

.order-form__wrapper-bcg {
  @media (max-width: @mobile-width-only) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 34px;
    background-color: transparent;
  }

  @media (min-width: @tablet-width) {
    padding: 50px;
    background-color: @footer-color;
    margin: 0 -50px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}
