.order-form-contacts {
  .input-reset();
  margin-bottom: 34px;
  position: relative;
}

.order-form-contacts:last-child {
  margin-bottom: 0;
}

.order-form-contacts__block {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 167px 501px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 175px 700px;
  }
}

.order-form-contacs:last-child {
  margin-bottom: 0; /*не обнулился отступ*/
}

.order-form-contacts__legend {
  @media (min-width: @tablet-width) {
    justify-self: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-left: 47px;
  }
}

.order-form-contacts__legend--name {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.order-form-contacts__legend--wish {
  margin-bottom: 23px;
}

.order-form-contacts__legend--email::after {
  width: 182px;
}

.order-form-contacts__mark {
  .order-text-title();
}

.order-form-contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 24px; //потом подогнать
  }
}

.order-form-contacts__wrapper:not(:last-child) {
  margin-bottom: 21px;
}

.order-form-contacts__data {
  .order-text();
}

.order-form-contacts__control {
  position: relative;
  .input-reset();
  width: 260px;
  padding: 16px 0;
  border-bottom: 2px solid @caption-color;

  @media (min-width: @tablet-width) {
    width: 375px;
  }

  @media (min-width: @desktop-width) {
    width: 573px;
  }
}

.order-form-contacts__control--name {
  @media (min-width: @tablet-width) {
    width: 423px;
    padding-top: 16.85px;
    padding-bottom: 17.15px;
  }

  @media (min-width: @desktop-width) {
    width: 626px;
  }
}

.order-form-contacts__control--surname {
  padding-top: 16px;
  padding-bottom: 15 px;
}

.order-form-contacts__control--lastname {
  padding-top: 20px;
  padding-bottom: 13px;
}

.order-form-contacts__control--tel {
  position: relative;
  padding-top: 23px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-left: 17px;
  }
}

.order-form-contacts__control--mail {
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 19px;
    padding-left: 18px;
  }
}

.order-form-contacts__icon-tel {
  position: absolute;
  top: 32px;
  right: 6px;

  @media (min-width: @tablet-width) {
    top: 11px;
    right: 26px;
  }

  @media (min-width: @desktop-width) {
    right: 186px;
  }
}

.order-form-contacts__icon-mail {
  position: absolute;
  top: 37px;
  right: 2px;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 26px;
  }

  @media (min-width: @desktop-width) {
    right: 186px;
  }
}

.order-form-contacts--textarea {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.order-form-contacts__textarea {
  .input-reset();
  width: 100%;
  padding: 15px 17px 89px 16px;
  border: 2px solid @txt-color;
  resize: none;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    width: 700px;
    margin: 0 auto;
  }
}

.order-form-contacts__wrapper-button {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 175px;
  }
}

.order-form-contacs__warning {
  display: block;
  font-weight: 400;
  font-size: @contact-size;
  line-height: 1.14;
  color: @caption-color;
  margin-bottom: 30px;
}

.order-form__button-send {
  .button();
  padding-left: 37px;
  padding-right: 34px;
  padding-top: 23px;
  padding-bottom: 18px;
  margin-bottom: 55px;
  font-size: @menu-size;
  line-height: 0.94;

  @media (min-width: @tablet-width) {
    order: -1;
  }
}
