.page {
  height: 100%;
  box-sizing: border-box;
  background-color: lawngreen;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  /*background-color: @bg-color;*/
  background-color: sandybrown;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: @text-size;
  line-height: @text-line;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  outline: 2px solid yellowgreen;
  offset: -2px;
  padding: 0 30px;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


