.page-footer {
  background-color: @footer-color;
  color: @caption-color;
  padding-top: 30px;
  padding-bottom: 31px;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 58px;
  }

@media (min-width: @tablet-width) {
  justify-content: space-between;
  padding-top: 18px;
  }
}
