.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: @bg-color;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: @txt-size;
  line-height: @txt-line;
}

