.page {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: @bg-color;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: @txt-size;
  line-height: @txt-line;
}
