.page-header {
  width: 100%;
}

.page-header__wrapper {
  position: relative;
  padding-top: 22px;
  padding-left: 86px;
  padding-bottom: 23px;
  padding-right: 88px;
}

.page-header__logo {
  display: inline-block;
}

.main-nav-wrapper {
  /*position: absolute;*/
}
