.production__wrapper {
  outline: 2px solid red; /*нет фона и обводки*/
  background-color: salmon;
  padding-top: 22px;
  padding-right: 13px;
  padding-bottom: 27px;
  padding-left: 91px;
}

.production__title {
  margin: 0;
  font-size: @menu-size;
  line-height: @menu-line;
  margin-bottom: 27px;
}

.production__video {
  margin-bottom: 35px;
}

.production__text {
  font-size: @descript-size;
  line-height: 24px;
  margin-left: 34px;
  margin-bottom: 59px;
}

.production__button-order {
  width: 192px;
  padding: 18px 11px;
  margin-right: auto; /*почему не сработала центровка*/
  margin-left: auto;
  margin-bottom: 33px;
}
