.production__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 683px 1fr;
    column-gap: 79px;
    grid-template-areas:
      "img title"
      "img content";
  }
}

.production__wrapper-title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 22px 13px 27px 34px;
  border: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    gap: 30px;
    border: none;
    padding-top: 41px;
    padding-left: 42px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    width: 252px;
    padding: 0;
  }
}

.production__title {
  margin: 0;
  font-size: @menu-size;
  line-height: @menu-line;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.production__content {
  grid-area: content;
  padding-bottom: 46px;
  padding-left: 40px;

  @media (min-width: @desktop-width) {
    width: 252px;
    padding: 0;
    font-size: @txt-size;
    line-height: 30px;
  }
}

.production__video__wrapper {
  grid-area: img;
  position: relative;

  @media (max-width: @mobile-width-only) {
    width: 260px;
    height: 150px;
    background-image: url("../img/video.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 445px;
    background-image: url("../img/video-tablet 1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    width: 683px;
    height: 445px;
    background-image: url("../img/video-tablet 1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.production__video-button-play {
  //как оценровать кнопку?
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 78px;
  }
}

.production__video {
  display: block;
}

.production__text {
  margin: 0;
  font-size: @descript-size;
  line-height: 24px;
  margin-bottom: 41px;
}

.production__button-order {
  .button();
  width: 192px;
  padding: 18px 11px;

  @media (min-width: @tablet-width) {
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}
