.reviews__wrapper {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/review_tablet.jpg");
    background-position: left;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "tit btn"
      "slider slider"
      "slider slider";
    padding-top: 83px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/review_tablet.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 78px;
    padding-bottom: 96px;
    margin-bottom: 71px;
  }
}

.reviews__title {
  grid-area: tit;
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    align-self: center;
    margin-bottom: 40px;
    font-size: @tablet-title-size;
    line-height: 1.16;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
    font-size: @desktop-title-size;
    line-height: 1.08;
  }
}

.reviews-list {
  grid-area: slider;
  margin-bottom: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: @txt-size;
  line-height: 2;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  font-size: @menu-size;
  line-height: @menu-line;
  font-weight: bold;

  margin-bottom: 24px;
}

.reviews__author-email-link {
  font-size: 17px;
  line-height: 30px;
  color: @txt-color;
  font-style: none;
  text-decoration: none;
  margin-bottom: 30px;
}

.reviews__toggles {
  margin: 0;
  grid-area: toggle;

  @media (min-width: @tablet-width) {
    position: absolute;
    transform: translateY(-25px);
    right: 0;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    transform: translateY(-50px);
  }
}

.reviews__button-send {
  margin-bottom: 45px;
  grid-area: btn;
  .button();

  @media (min-width: @tablet-width) {
    width: 175px;
    height: 52px;
    font-size: @offer-size;
    justify-self: end;
  }
}
