.reviews__title {
  font-weight: bold;
  font-size: @subtitle-size;
  line-height: @subtitle-line;
  margin: 0;
  margin-bottom: 14px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: @txt-size;
  line-height: 2;
  margin-bottom: 33px;
}

.reviews__author-name {
  font-size: @menu-size;
  line-height: @menu-line;
  font-weight: bold;

  margin-bottom: 24px;
}

.reviews__author-email-link {
  font-size: 17px;
  line-height: 30px;
  color: @txt-color;
  font-style: none;
  text-decoration: none;
  margin-bottom: 30px;
}

.reviews__button-send {
  margin-bottom: 45px;
  .button();
}
