.slider__toogles {
  display: flex;
  margin-bottom: 38px;
}

.slider__toogle {
  width: 130px;
  height: 52px;
  border: 1px solid @border-color;
  background-color: transparent;
}

.slider__toogle--previous {
  background-image: url("/source/img/huge-arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
}
