.toys-navigation__wrapper {
  margin: 0 auto;
}

.toys-navigation__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.toys-navigation__button {
  width: 100%;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 31px;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  border: none;

  &--interios {
    background-color: @btn-left-color;
  }

  &--child {
    background-color: @btn-right-color;
  }
}

.toys-navigation-caption {
  display: block;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .toys-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .toys-navigation__button {
    min-width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .toys-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .toys-navigation__button {
    display: block;
    min-width: 525px; /*не могу сайзить*/
    width: 100%;
  }
}
