.toys {
  margin-bottom: 31px;
}

.toys__image {
  display: block;
  min-height: 373px;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 73px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1150px 746px;
    padding-top: 155px;
    margin-top: -63px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/hero-desktop 1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1150px 763px;
    padding-top: 155px;
    margin-top: -63px;
  }
}


.toys__header {
  /*как сделать правильный перенос текста*/
  width: 260px;
  margin: 0 auto;
  font-size: @mobil-title-size;
  line-height: @mobil-title-line;
  text-align: center;
  font-weight: 700;


  @media (min-width: @tablet-width) {
    width: 668px;
    font-size: @tablet-title-size;
    line-height: @tablet-title-line;
  }
}

@media (min-width: @desktop-width) {
  .toys__image {
    display: inline-block;
    background-image: url("../img/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1150px;
    max-width: 100%;
    min-height: 746px;
    max-height: auto;
  }
}
