.toys__image {
  max-width: 100%;
  height: auto;
  background-image: url("/source/img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.toys__image-wrapper {
  position: relative;
}
