.user-list {
  grid-area: user;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.user-list__item-link {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    padding: 0;
    border: none;
  }
}

.user-list__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  :hover {
    fill: @btn-left-color;
  }

  &:active {
    /* stylelint-disable-next-line declaration-block-trailing-semicolon */
    fill: fade(@btn-left-color, 30%)
  }
}

.user-list__item-search {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.user-list__icon--search {
  margin-right: 28px;
  margin-left: 1px;

  @media (min-width: @tablet-width) {
    border-left: 1px solid @search-border;
    border-right: 1px solid @search-border;
  }
}

.user-list__icon--basket {
  margin-right: 26px;
  margin-left: 1px;
}
