@bg-color: #FFFFFF;
@btn-left-color: #63D1BB;
@btn-right-color: #56C3B2;
@caption-color: #000000;
@txt-color: #444444;
@link-color: #46C1AE;
@form-color: #62D1BA;
@footer-color: #E5E5E5;

@title-size: 27px;
@title-line: @title-size * 1.11;

@subtitle-size: 25px;
@subtitle-line: @subtitle-size * 1.2;

@btn-size: 18px;
@btn-line: @btn-size * 1.11;

@menu-size: 17px;
@menu-line: @menu-size * 1.41;

@offer-size: 17px;
@offer-link: @offer-size * 1.18;

@txt-size: 15px;
@txt-line: @text-size *1.33;

@contact-size: 14px;
@contact-line: @contact-size * 2.14;

@main-padding: 30px;
@menu-margin: 54px;







