$basic-black: #000000;
$other-black: #010000;
$basic-white: #ffffff;
$basic-mint: #63d1bb;
$border-mint: #62d1ba;
$map-mint: #6bc6b3;
$dark-mint: #56c3b2;
$hover-dark-mint: #46c1ae;
$active-mint: #59d5bc;
$darkest-mint: #149080;
$darkest-grey: #444444;
$dark-grey: #e5e5e5;
$modal-border: #e6e6e6;
$grey: #ececec;
$other-grey: #f1f1f1;
$input-grey: #c7c7c7;
$button-menu: #231f20;
$background-map: #f4e9d7;
$background-promo: #f9f9f9;
