$min-phone: 320px;
$min-tablet: 768px;
$min-desktop: 1150px;

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  @include zero;
  @include weight-font(30px, 25px);

  @media (min-width: $min-tablet) {
    @include weight-font(50px, 43px);
  }

  @media (min-width: $min-desktop) {
    @include weight-font(57px, 53px);
  }
}

.none {
  display: none;
}
