.additional-list {
  @include zero;
  @include weight-font(24px, 19px);
  list-style: none;

  @media (min-width: $min-tablet) {
    display: flex;
    flex-wrap: wrap;
    min-height: 126px;
    margin: 0 auto;
    width: 100%;

    @include weight-font(30px, 20px);
  }
}

.additional-list__item--interior:hover,
.additional-list__item--interior:focus {
  background-color: $active-mint;
}

.additional-list__item--toys:hover,
.additional-list__item--toys:focus {
  background-color: $hover-dark-mint;
}

.additional-list__link-item:hover .additional-list__icon,
.additional-list__link-item:focus .additional-list__icon {
  fill-opacity: 0.7;
}

.additional-list__link-item:active .additional-list__icon {
  fill-opacity: 0.3;
}

.additional-list__item {
  padding-bottom: 17px;

  @media (min-width: $min-tablet) {
    display: flex;
    padding-bottom: 26px;
    flex-basis: 50%;
  }

  &--interior {
    background-color: $basic-mint;
  }

  &--toys {
    padding-bottom: 19px;
    background-color: $dark-mint;
  }
}

.additional-list__link-item {
  padding-top: 24px;
  text-decoration: none;

  @media (min-width: $min-tablet) {
    padding-top: 26px;
  }
}

.additional-list__item:hover {
  margin-top: -5px;
  padding-bottom: 17px;

  @media (min-width: $min-tablet) {
    padding-bottom: 31px;
  }
}

.additional-list__item--toys:hover {
  padding-bottom: 19px;
}

.additional-list__link-span {
  display: block;
  max-width: 160px;

  @media (min-width: $min-tablet) {
    padding-left: 6px;
  }
  color: $basic-white;
}

.additional-list__icon {
  fill: $darkest-mint;
  fill-opacity: 0.5;

  &--interior {
    @media (min-width: $min-tablet) {
      width: 48px;
      height: 65px;
      padding-top: 4px;
    }
  }

  &--toys {
    @media (min-width: $min-tablet) {
      height: 65px;
      padding-top: 4px;
    }
  }
}
