.advantage-item {
  @media (max-width: $min-tablet - 1px) {
    width: 260px;
    margin: 0 auto;

    &--eco {
      order: 0;
    }

    &--price {
      order: 1;
    }

    &--like {
      order: 2;
    }

    &--love {
      order: 3;
    }

    &--rus {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }
}

.advantage-item__icon-wrapper {
  position: absolute;
  top: 20px;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include size (55px, 50px);
  fill: $basic-mint;

  @media (min-width: $min-tablet - 1px) {
    top: -62px;
    left: -5px;
  }
}
