.contacts {
  position: relative;
}

.contacts__container {
  @media (min-width: $min-desktop) {
    display: flex;
    flex-wrap: wrap;
    width: $min-desktop;
    padding-left: 224px;
    padding-right: 50px;
    padding-bottom: 47px;
    margin: 0 auto;
  }
}

.contacts__title {
  position: relative;

  @include zero;
  @include weight-font(30px, 25px);
  padding-bottom: 27px;

  @media (min-width: $min-tablet) {
    padding-bottom: 48px;

    @include weight-font(50px, 43px);
  }

  @media (min-width: $min-desktop) {
    @include weight-font(57px, 53px);
    padding-top: 82px;
    padding-bottom: 35px;
  }
}

.contacts__title::before {
  @media (min-width: $min-tablet) {
    content: "";
    position: absolute;
    right: 3px;
    top: -22px;
    width: 47px;
    height: 87px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $min-desktop) {
    top: 65px;
    left: -111px;
  }
}

.contacts-table__description-wrap {
  white-space: nowrap;
}

.contacts__item {
  @include zero;
  @include basic-font(30px);

  @media (min-width: $min-tablet) {
    @include basic-font(30px, 17px);
  }
}

.contacts__map-area {
  width: 100%;
  border: none;
  background-color: $background-map;
  background-repeat: no-repeat;

  @media (max-width: $min-tablet - 1) {
    background-image: url("../img/map-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }

  @media (min-width: $min-tablet) {
    height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $min-desktop) {
    width: 527px;
    flex-basis: 526px;
    padding-bottom: 0;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__map {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 41px;

  @media (min-width: $min-tablet) {
    width: 768px;
    padding-bottom: 53px;
    margin: 0 auto;
  }

  @media (min-width: $min-desktop) {
    width: 527px;
    flex-basis: 526px;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.contacts__write-us {
  margin-top: 43px;

  @media (min-width: $min-tablet) {
    margin-top: 55px;
    max-width: 230px;
  }

  @media (min-width: $min-desktop) {
    margin-left: 0;
    margin-top: -49px;
  }
}

.contacts__mail {
  padding-bottom: 2px;
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px $border-mint;

  @media (min-width: $min-tablet) {
    padding-bottom: 5px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 8px;
  }
}

.contacts__mail:hover,
.contacts__mail:focus {
  color: $hover-dark-mint;
}

.contacts__mail:active {
  border-bottom: none;
}
