.contacts-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.contacts-table__line {
  @media (min-width: $min-tablet) {
    display: inline-block;

    &:not(:nth-child(2n)) {
      padding-right: 50px;
    }
  }
  vertical-align: top;
  text-align: left;

  @media (min-width: $min-desktop) {
    padding-right: 50px;
  }
}

.contacts-table__name {
  white-space: nowrap;

  @include zero;
  padding-right: 30px;
  padding-bottom: 30px;

  @media (min-width: $min-tablet) {
    padding-right: 24px;
  }
}

.contacts-table__description {
  @include zero;
  padding-bottom: 30px;

  @media (min-width: $min-tablet) {
    padding-bottom: 46px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 10px;
  }
}
