.form-title {
  position: relative;
  padding-right: 15px;
  min-width: 60px;

  @include weight-font(16px, 17px);
  color: $basic-mint;
  background-color: $basic-white;
  text-transform: uppercase;

  @media (min-width: $min-tablet) {
    width: 165px;
    background-color: inherit;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    justify-content: flex-start;
  }
}

.form-title--phone {
  padding-right: 25px;
}

.form-title--email {
  padding-right: 20px;
}

.form-title::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 200px;
  height: 1px;
  background-color: $border-mint;

  @media (max-width: $min-tablet) {
    display: none;
  }
}

.form-title--phone::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 200px;
  height: 1px;
  background-color: $border-mint;

  @media (max-width: $min-tablet) {
    display: none;
  }
}

.form-title--email::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 200px;
  height: 1px;
  background-color: $border-mint;

  @media (max-width: $min-tablet) {
    display: none;
  }
}
