.hide-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include zero;
  list-style-type: none;
}

.hide-list__item {
  flex-basis: 28.5%;
  padding-right: 38px;
  padding-bottom: 20px;
}
