.input-text {
  @include zero;
  @include basic-font (18px, 17px);
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-bottom: 23px;
  border: none;
  box-shadow: inset 0 -2px 0 $basic-black;
  color: $darkest-grey;
  background-color: inherit;

  &::placeholder {
    color: rgba($basic-black, 0.3%);
  }

  @media (min-width: $min-tablet) {
    font-size: 19px;
  }
}

.input-text:hover {
  box-shadow: inset 0 -2px 0 $border-mint;
}

.input-text:focus {
  outline: none;
}

.input-text--phone {
  padding-bottom: 20px;
  padding-right: 30px;
  margin-bottom: 35px;
  font-size: 17px;

  @media (min-width: $min-tablet) {
    flex-grow: 2;
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 15px;
    font-size: 19px;
  }

  @media (min-width: $min-desktop) {
    margin-left: 10px;
  }
}

.input-text--email {
  padding-bottom: 17px;
  padding-top: 20px;
  padding-right: 30px;
  margin-bottom: 35px;

  @media (min-width: $min-tablet) {
    flex-grow: 2;
    padding-top: 0;
    padding-left: 18px;
    padding-bottom: 15px;
  }

  @media (min-width: $min-desktop) {
    margin-left: 10px;
  }
}

.input-text--wishes {
  margin-top: 20px;
  min-height: 142px;
  margin-bottom: 17px;
  padding-left: 16px;
  border: 2px solid $darkest-grey;
  box-shadow: inset 0 0 0 $darkest-grey;

  @media (min-width: $min-tablet) {
    flex-grow: 2;
    margin-top: 22px;
  }

  @media (min-width: $min-desktop) {
    margin-left: 10px;
  }
}

.input-text--wishes:hover,
.input-text--wishes:focus {
  border-color: $border-mint;
  box-shadow: none;
}
