.page-header {
  position: relative;
}


.page-header__header-nav {
  @media (max-width: $min-tablet - 1px) {
    width: 260px;
    margin: 0 auto;
  }

  @media (min-width: $min-desktop) {
    padding-top: 8px;
  }
}

.page-header__logo {
  z-index: 10;

  @media (min-width: $min-tablet) {
    position: absolute;
    top: 5px;
  }

  @media (min-width: $min-desktop) {
    left: 43.5%;
  }
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}
