.page-main {
  position: relative;
}

.page-main__promo {
  @media (min-width: $min-tablet) {
    margin-top: -70px;
  }

  @media (min-width: $min-desktop) {
    margin-top: -44px;
  }
}

.page-main__catalog {
  @media (min-width: $min-tablet) {
    margin-top: -131px;
  }
}

.page-main__product-week {
  @media (min-width: $min-tablet) {
    padding-top: 14px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 32px;
    max-width: $min-desktop;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-main__about-us {
  padding-top: 36px;
  padding-bottom: 58px;

  @media (min-width: $min-tablet) {
    padding-top: 88px;
    padding-left: 3px;
    padding-bottom: 83px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 127px;
    padding-left: 0;
    padding-bottom: 90px;
  }
}

.page-main__reviews {
  padding-bottom: 54px;

  @media (min-width: $min-desktop) {
    max-width: $min-desktop;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-main__contacts {
  padding-top: 34px;
  padding-bottom: 39px;

  @media (min-width: $min-tablet) {
    padding-top: 102px;
    padding-bottom: 58px;
  }
}

.page-main__video {
  @include padding;
  margin-top: 30px;
  padding-bottom: 59px;

  @media (min-width: $min-tablet) {
    @include padding(50px, 50px);
    margin-top: 28px;
    padding-bottom: 63px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 30px;
    padding-top: 24px;
    padding-bottom: 105px;
  }
}
