.product {
  padding-top: 31px;
  padding-bottom: 37px;
}

.product--full {
  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "product__title product__sticker"
      "product__description product__img"
      "product__details product__img"
      "product__price product__img"
      "product__order product__img";
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 175px auto 50%;
    grid-template-areas:
      "product__sticker product__title product__img"
      "product__sticker product__description product__img"
      ". product__details product__img"
      ". product__price product__img"
      ". product__order product__img";
  }
}

.product--min {
  padding-top: 30px;
  padding-bottom: 0;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 335px auto;
    grid-template-areas:
      "product__img product__title"
      "product__img product__details"
      "product__img product__price-order-wrap";
    padding-bottom: 23px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: column;
    min-height: 688px;
    padding-bottom: 0;
  }
}

.product__title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;

  @include zero;

  @media (min-width: $min-desktop) {
    grid-column-start: 2;
    padding-top: 61px;
  }
}

.product__title--min {
  grid-area: product__title;
  position: relative;

  @include weight-font(24px, 17px);
  padding-top: 28px;
  padding-bottom: 6px;

  @media (min-width: $min-tablet) {
    padding-top: 28px;
    padding-bottom: 4px;
    font-size: 20px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 27px;
  }
}

.product__link {
  color: inherit;
  text-decoration: none;
}

.product__link:hover .product__title,
.product__link:focus .product__title {
  opacity: 0.6;
}

.product__link:active .product__title {
  opacity: 0.3;
}

.product__sticker {
  grid-area: product__sticker;

  @include zero;
  padding-top: 4px;

  @include weight-font(20px);
  color: $basic-mint;
  text-transform: uppercase;

  @media (min-width: $min-tablet) {
    text-align: center;
    width: 37%;
    margin-left: auto;
    line-height: 17px;
  }

  @media (min-width: $min-desktop) {
    margin-right: 62px;
    padding-top: 70px;
  }
}

.product__description {
  grid-area: product__description;

  @include zero;
  padding-top: 17px;
  padding-bottom: 20px;

  @include basic-font;

  @media (min-width: $min-tablet) {
    padding-top: 37px;
    padding-right: 40px;
    padding-bottom: 38px;

    @include basic-font(30px, 17px);
  }

  @media (min-width: $min-desktop) {
    padding-top: 35px;
    padding-right: 60px;
    padding-bottom: 51px;
  }
}

.product__details {
  @include zero;
  padding-bottom: 29px;

  @media (min-width: $min-desktop) {
    padding-bottom: 79px;
  }
}

.product__details--min {
  padding-bottom: 40px;

  @media (min-width: $min-tablet) {
    margin-bottom: auto;
  }

  /* @media (min-width: $min-desktop) {
    padding-bottom: 10px;
  } */
}

.product__img-area {
  grid-area: product__img;

  @media (min-width: $min-desktop) {
    z-index: -1;
  }
}

.product__img {
  grid-area: product__img;
  display: block;
  margin: 0 auto;

  @media (min-width: $min-tablet) {
    margin-top: 49px;
  }

  @media (min-width: $min-desktop) {
    z-index: -1;
    margin-top: 0;
  }
}

.product__img--min {
  @media (min-width: $min-tablet) {
    margin-top: 0;
    width: 335px;
  }

  @media (min-width: $min-desktop) {
    width: 316px;
  }
}

.product__img--max {
  @media (min-width: $min-tablet) {
    width: 333px;
  }

  @media (min-width: $min-desktop) {
    width: 525px;
  }
}

.product__price-order-wrap {
  position: relative;
  grid-area: product__price-order-wrap;
  display: flex;
  justify-content: space-between;

  @media (min-width: $min-tablet) {
    margin-top: auto;
    padding-left: 0;
    /* padding-right: 30px; */
  }

  @media (min-width: $min-desktop) {

    padding-bottom: 26px;
  }
}

.product__price-order-wrap::before {
  content: "";
  position: absolute;
  top: -24px;
  width: 80%;
  left: 10%;
  height: 1px;
  background-color: $grey;

  @media (min-width: $min-desktop) {
    top: -26px;
    left: 8%;
    width: 82%;
  }
}

.product__price {
  grid-area: product__price;

  @include zero;
  padding-top: 26px;
  padding-bottom: 24px;

  @include weight-font;
  color: $darkest-grey;
  text-align: center;

  @media (min-width: $min-tablet) {
    padding-top: 29px;
    padding-bottom: 31px;
    margin-right: 48px;

    @include weight-font(24px, 20px);
  }

  @media (min-width: $min-desktop) {
    margin-right: 58px;
    padding-top: 33px;
  }
}

.product__price--min {
  display: inline-block;

  @include zero;
  font-size: 15px;
  vertical-align: middle;
  text-align: left;

  @media (min-width: $min-tablet) {
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    padding-left: 0;
  }
}

.product__order {
  grid-area: product__order;
  align-self: flex-end;

  max-width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $min-tablet) {
    margin-left: 0;
    max-width: 292px;
  }
}

.product__order--min {
  display: flex;
  justify-content: center;
  align-items: top;
  border: none;
  margin-left: auto;
  margin-right: 0;

  @include size(20px, 25px);
}

.product__order--min:hover .product__icon,
.product__order--min:focus .product__icon {
  fill: $basic-mint;
  fill-opacity: 1;
}

.product__order--min:active .product__icon {
  fill-opacity: 0.3;
}

.product__wrapper {
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 24px;
  border: 1px solid $grey;

  @media (min-width: $min-tablet) {
    display: flex;
    flex-direction: column;
    min-height: 335px;
    padding-left: 31px;
    padding-right: 30px;
  }

  @media (min-width: $min-desktop) {
    min-height: 200px;
    padding-bottom: 0;
    padding-left: 26px;
  }
}

.product__wrapper:hover,
.product__wrapper:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product__wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product__icon {
  fill-opacity: 0.2;
}
