.promise {
  @include basic-font(24px, 13px);
  padding-top: 17px;
  padding-bottom: 30px;

  @media (min-width: $min-tablet) {
    padding-top: 60px;
    padding-bottom: 82px;

    @include basic-font(30px, 17px);
  }

  @media (min-width: $min-desktop) {
    padding-top: 110px;
    padding-bottom: 78px;
  }
}
