.reviews {
  position: relative;
  background-color: $basic-white;
}

.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 100%;
  background-color: $basic-white;

  @media (min-width: $min-tablet) {
    height: 25px;
    bottom: -40px;
    background-image: url("../img/bg-zigzag-line.svg");
  }

  @media (min-width: $min-desktop) {
    height: 35px;
    bottom: -47px;
    background-size: 91%;
  }
}

.reviews__title {
  @media (min-width: $min-tablet) {
    padding-top: 84px;
    padding-right: 180px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 79px;
  }
}

.reviews__text {
  @include zero;
  padding-top: 14px;
  padding-bottom: 31px;

  @media (min-width: $min-tablet) {
    padding-top: 38px;
    padding-bottom: 58px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 35px;
    padding-bottom: 42px;
  }
}

.reviews__author-name {
  @include zero;
  @include weight-font;
  font-style: normal;

  @media (min-width: $min-tablet) {
    @include weight-font(24px, 18px);
  }

  @media (min-width: $min-desktop) {
    font-size: 17px;
  }
}

.reviews__author-mail {
  display: block;

  @include zero;
  @include basic-font(30px);
  font-size: 17px;
  color: $darkest-grey;
  font-style: normal;
}

.reviews__wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 38px;

  @media (min-width: $min-tablet) {
    width: 176px;
    margin-left: auto;
    margin-top: -85px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    margin-top: -132px;
    padding-bottom: 100px;
  }
}

.reviews__write {
  @media (min-width: $min-tablet) {
    position: absolute;
    top: 79px;
    right: 50px;
    max-width: 175px;
  }
}
