.video {
  position: relative;

  @media (min-width: $min-tablet) {
    order: -1;
    min-width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    min-width: 682px;
  }
}

.video__img {
  width: 100%;

  @media (min-width: $min-tablet) {
    width: 668px;
  }

  @media (min-width: $min-desktop) {
    width: 682px;
  }
}

.video__button-wrap {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.video__button {
  border: none;
  background-color: transparent;
  height: 101px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.video__button:focus {
  outline: none;
}

.video__button:hover .video__button-play,
.video__button:focus .video__button-play {
  transform: scale(1.2);
  transition: 0.3s;
}

.video__button:active .video__button-play {
  transform: scale(0.8);
  transition: 0.3s;
  fill-opacity: 0.3;
}
